<!DOCTYPE html>
<html lang="sv" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="fragments/header :: header"></th:block>
    <title>Boka möten - Scoutmöten</title>
    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script th:inline="javascript"> var path = /*[[@{/}]]*/ ''; </script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var attendeeid = /*[[${attendee.id}]]*/ null;
        var signupurl = /*[[@{'/bookmeeting/signup/'}]]*/ null;
        var declineurl = /*[[@{'/bookmeeting/decline/'}]]*/ null;
        var moreinfourl = /*[[@{'/bookmeeting/meetinginfo/'}]]*/ null;

        $(document).ready(function () {
            $('input:radio').change(function () {
                if ($(this).prop("checked")) {
                    //do the stuff that you would do when 'checked'
                    let idvalue = $(this).prop('id');
                    let meetingid = idvalue.substring(0,idvalue.indexOf("_"));
                    if(idvalue.includes('yes')){
                        signUp(meetingid);
                    }else{
                        decline(meetingid);
                    }
                    return;
                }
            });

              $(document).ready(function(){
             $('.list').on('click', '.toggleshow', function() {
               $('#info' + $(this).data('id')).toggle("slide");
             });
         });
        });

        function signUp(meetingId) {
            jQuery.ajax({
                url: signupurl + attendeeid + '/to/' + meetingId,
                type: 'PUT',

                success: function (data) {
                    $('#saved_' + meetingId).fadeIn('slow', function(){
                        $('#saved_' + meetingId).delay(2000).fadeOut();
                    });
                },
                error: function (errorData) {
                    alert("Det gick inte att anmäla att du kommer till mötet");
                }
            });
        }

        function decline(meetingId) {
            jQuery.ajax({
                url: declineurl + attendeeid + '/to/' + meetingId,
                type: 'PUT',

                success: function (data) {
                    $('#saved_' + meetingId).fadeIn('slow', function(){
                        $('#saved_' + meetingId).delay(2000).fadeOut();
                    });
                },
                error: function (errorData) {
                    alert("Det gick inte att anmäla att du kommer till mötet");
                }
            });
        }

        function reloadPage() {
            window.location = window.location.pathname;
        }
        /*]]>*/

    </script>

</head>
<body>

<div class="nav-box">
<span class="toolbar">
</span>
    <h1>Kommer eller kommer inte - det är frågan!</h1>
</div>
<div class="form-box">
    <h2 th:text="${attendee.name}"></h2>
    <p th:text="${'Avdelning ' + attendee.department.name}"></p>

    <p th:if="${attendee?.department?.description}" th:text="${attendee.department.formattedDescription()}"></p>
    <div class="notepad">
        <table class="list">
            <tr th:each="meeting: ${meetings}">
                <td>
                    <span class="toggleshow" th:data-id="${meeting.id}"
                       th:text="${meeting.getBestDisplayStartAndEndDayAndTime() + ' ' + meeting.title}"></span>
                    <div th:id="${'info' + meeting.id}" style="display:none;" class="text-medium">
                        <br th:if="${meeting?.lastBookDate}" th:text="${'Sista anmälningsdag: ' + meeting.lastBookDate}">
                        <br th:if="${meeting?.place}" th:text="${'Plats: ' + meeting.place}">
                        <br th:if="${meeting?.description}" th:text="${meeting.formattedDescription()}">
                        <a th:if="${meeting?.descriptionUrl}" th:href="${meeting.descriptionUrl}" target="_blank">Mer information</a>
                    </div>
                </td>
                <td th:if="${meeting.isBookable()}" class="radio-toolbar">
                    <input type="radio" th:id="${meeting.id + '_yes'}" th:name="${meeting.id}"
                           th:checked="${#lists.contains(acceptedMeetings, meeting.id.toString())}" value="Kommer">
                    <label th:for="${meeting.id + '_yes'}">Kommer!</label>
                    <input type="radio" th:id="${meeting.id + '_no'}" th:name="${meeting.id}"
                           th:checked="${#lists.contains(declinedMeetings, meeting.id.toString())}" value="Kommer inte">
                    <label th:for="${meeting.id + '_no'}">Kommer ej</label>
                    <div th:id="${'saved_' + meeting.id}" style="display:none;">Sparat!</div>
                </td>
                <td th:if="${meeting.isNotBookable()}">
                <span th:if="${meeting.isNotBookable()}" th:each="meetinganswer: ${attendee.meetingAnswers}">
                    <span th:if="${meetinganswer.meeting.id eq meeting.id}">
                        <br>
                        <span th:if="${meetinganswer.coming}" th:text="'Kommer '"></span>
                        <span th:if="${!meetinganswer.coming}" th:text="'Kommer ej '"></span>
                    </span>
                </span>
                    <span class="text-small">(Kan inte boka eller ändra din anmälan)</span>
                </td>
            </tr>
        </table>
    </div>
    <p>
    </p>
</div>
</body>
</html>