<!DOCTYPE html>
<html lang="sv" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="fragments/header :: header"></th:block>
    <title>Mötesadministration - Scoutmöten</title>
</head>
<body>

<div class="nav-box">
<span class="toolbar">
    <a class="toolitem" th:href="@{'/admin/meeting/new'}"><img th:src="@{/styles/newlist.png}"></a>
</span>
    <h1>Test svar</h1>
</div>
testar - visar alla deltagare

<ul class="notepad">
    <li th:each="attendee: ${attendees}">
        <a th:href="@{'/bookmeeting/attendee/' + ${attendee.id}}"
           th:text="${attendee.name}"></a>
    </li>
</ul>

<p>
</p>

</body>
</html>