<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="sv">
<head>
    <th:block th:include="fragments/header :: header"></th:block>
    <title>Redigera möte</title>
</head>
<body>
<div class="nav-box">
<span class="toolbar">
       <a class="toolitem" th:href="@{'/admin/meeting'}"><img th:src="@{/styles/back.png}"></a>
       <a class="toolitem" th:href="@{'/admin/meeting/new'}"><img th:src="@{/styles/newlist.png}"></a>
</span>
    <h1>Planerat möte</h1>
</div>
<div class="errorblock" th:if="${error_message}">
    <p th:text="${error_message}"></p>
</div>
<div class="successblock" th:if="${message}">
    <p th:text="${message}"></p>
</div>
<form id="frmEditMeeting" method="post" class="form-general" th:action="@{/admin/meeting/save}" th:object="${meeting}">
    <div class="form-box">
        <input type="hidden" id="id" th:field="*{id}">
        <label for="title">Möte</label>
        <input class="input-long" type="text" id="title" placeholder="Skriv in mötets titel" th:field="*{title}">
        <label for="startday">Startdag</label>
        <input type="date" id="startday" th:field="*{startDate}">
        <label for="starttime">Starttid </label>
        <input type="time" id="starttime" th:field="*{startTime}">
        <label for="endday">Slutdag</label>
        <input type="date" id="endday" th:field="*{endDate}">
        <label for="endtime">Sluttid </label>
        <input type="time" id="endtime" th:field="*{endTime}">
        <label for="place">Plats</label>
        <input type="text" id="place" th:field="*{place}">

        <div class="category-select">
            <select name="department" id="department" th:field="*{department}">
                <option value="">Välj avdelning...</option>
                <option th:each="department : ${departments}" th:value="${department.id}" th:text="${department.name}">
                    Värde
                </option>
            </select>
        </div>
        <div>
            <div>
                <label for="description">Beskrivning</label>
                <textarea id="description" rows="10" cols="50" th:field="*{description}"></textarea>
            </div>
            <div>
                <label for="descriptionUrl">Länk till mer information</label>
                <input class="input-long" type="url" id="descriptionUrl" th:field="*{descriptionUrl}">
            </div>
            <div>
        <span th:each="statusType:${T(se.rydberg.bookmeeting.Status).values()}">
            <input type="radio" th:field="*{status}" th:value="${statusType}">
            <label class="label_normal" th:for="${#ids.prev('status')}"
                   th:text="${statusType.displayValue}">Status</label>
        </span>
            </div>

            <div class="submit-area">
                <button type="submit">Spara</button>
                <a th:if="${!#strings.isEmpty(meeting.id)}" th:href="@{'/admin/meeting/detail/' + ${meeting.id}}"> |
                    Avbryt</a>
            </div>
            </p>
        </div>
    </div>
</form>
</body>
</html>