<!DOCTYPE html>
<html lang="sv" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="fragments/header :: header"></th:block>
    <title>Scoutmöten</title>
</head>
<body>

<div class="nav-box">
    <h1>Kommer - kommer inte</h1>
</div>
<div class="form-box">
    <div class="description" th:if="${configuration?.startDescription}"
         th:utext=${configuration.formattedStartDescription()}></div>
    <div class="notepad">
        <ul class="list">
            <li class="nav-item">
                <a th:href="@{'/bookmeeting/'}">Anmälningar till möten</a>
            </li>
            <li class="nav-item">
                <a th:href="@{'/admin/'}">Administration möten</a>
            </li>
            <li class="nav-item">
                <form method="POST" th:action="@{/logout}">
                    <button type="submit" class="link-button">Logga ut</button>
                </form>
            </li>
        </ul>
    </div>
</div>
</body>
</html>