<!DOCTYPE html>
<html lang="sv" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="fragments/header :: header"></th:block>
    <title>Scoutmöten</title>
</head>
<body>

<div class="nav-box">
<span class="toolbar">
    <a class="toolitem" th:href="@{'/menu/new'}"><img th:src="@{/styles/newlist.png}"></a>
</span>
    <h1 sec:authentication="name">För dig som ledare på avdelningen</h1>
</div>
<div class="notepad">
    <ul class="list">
        <li class="nav-item">
            <a th:href="@{'/lists/'}">Anmälningar till möten</a>
        </li>
        <li class="nav-item">
            <a th:href="@{'/menu/'}">Administration möten</a>
        </li>
        <li class="nav-item">
            <a th:href="@{'/category/'}">Lägg till/ta bort scouter</a>
        </li>
        <li class="nav-item">
            <a th:href="@{'/users/'}">§</a>
        </li>
        <li class="nav-item">
            <form method="POST" th:action="@{/logout}">
                <button type="submit" class="link-button">Logga ut</button>
            </form>
        </li>
    </ul>
</div>
</body>
</html>