<!DOCTYPE html>
<html lang="sv" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header :: header"></th:block>
    <title>Avdelningsadministration - Scoutmöten</title>
</head>
<body>

<div class="nav-box">
<span class="toolbar">
     <a class="toolitem" th:href="@{'/'}"><img th:src="@{/styles/back.png}"></a>
    <a class="toolitem" th:href="@{'/department/new'}"><img th:src="@{/styles/newlist.png}"></a>
</span>
    <h1>Avdelningar</h1>
</div>

<div class="notepad">
    <ul class="list">
        <li  th:each="department: ${departments}">
            <a th:href="@{'/admin/department/detail/' + ${department.id}}" th:text="${department.name}"></a>
            <a th:href="@{'/admin/department/delete/' + ${department.id}}" class="del" onclick="return (confirm('Vill du ta bort avdelningen?'))"/><img th:src="@{/styles/delete.png}"></a>
        </li>
    </ul>
</div>

</body>
</html>