<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="sv">
<head>
    <th:block th:include="fragments/header :: header"></th:block>
    <title th:text="'Avdelning - ' + ${department.name}"></title>
</head>
<body>
<div class="nav-box">
<span class="toolbar">
       <a class="toolitem" th:href="@{'/department'}"><img th:src="@{/styles/back.png}"></a>
    <a class="toolitem" th:href="@{'/department/edit/' + ${department.id}}"><img th:src="@{/styles/edit2.png}"></a>
       <a class="toolitem" th:href="@{'/department/new'}"><img th:src="@{/styles/newlist.png}"></a>
</span>
    <h1>Avdelning</h1>
</div>
<div class="errorblock" th:if="${error_message}">
    <p th:text="${error_message}"></p>
</div>
<div class="successblock" th:if="${message}">
    <p th:text="${message}"></p>
</div>

<div class="form-box">
    <h2 th:text="${department.name}"></h2>

    här vill vi kanske visa mer?
</body>
</html>